---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
// import Gajendra from "../images/gajendra_gazing.jpg";
---

<Layout
  title="Contact Us"
  showPicture={true}
  background={"/gajendra_gazing.jpg"}
>
  <div class="container cards">
    <Card>
      <h3>Aerial Robotics IITK</h3>
      <p>
        The team was formed with a vision to increase awareness and promote the
        utility of UAVs. Since 2018, the team is working to provide autonomous
        UAV based open-source solutions for real-life problems.
      </p>
    </Card>

    <Card>
      <h3>Looking to Join?</h3>
      <p>
        First rule, show up at our doors. If you have any interest in robotics,
        planes, imaging, electronics, computers, programming or just enjoying
        building things then you would fit right in!
      </p>
    </Card>
    <Card>
      <h3>Contact to team:</h3>
      <p>
        <strong>Harshit Chaudhary</strong><br>Team Head<br>Phone: +91 9876543210<br><br>
        <strong>Varun Sappa</strong><br>Team Head<br>Phone: +91 9876543210<br><br>
        <strong>Hardik Agarwal</strong><br>Team Head<br>Phone: +91 9876543210<br><br>
      </p><br />
    </Card>
    <Card>
      <h3>Address:</h3>
      <p>
        SnT Room, Hall of Residence 2, Indian Institute of Technology Kanpur,
        Uttar Pradesh - 208016
      </p><br />
      <h3>Email:</h3>
      <p>
        <a href="mailto:aerialroboticsiitk@gmail.com"
          >aerialroboticsiitk@gmail.com</a
        >
      </p>
    </Card>
  </div>
</Layout>

<style>
  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    column-gap: 1rem;
  }
  .card {
    width: 100%;
  }
  .cards a {
    text-decoration: underline;
  }
  @media (max-width: 900px) {
    .cards {
      display: flex;
      flex-direction: column;
    }
  }
</style>
